#content {
  margin-right:   auto;
  margin-left:    auto;
  vertical-align: middle;
  width:          100%;
}

.hostButton {
  border:         1px solid;
  height:         20px;
  vertical-align: bottom;
  font-family:    inherit;
  color:          inherit;
  font-size:      inherit;
}

input {
  border-radius: 2px;
  box-sizing:    border-box;
  display:       inline-block;
}

input[type=text] {
  border: 1px solid rgba(0, 0, 0, .4);
  height: 40px;
  width:  100%;
}

input[type=checkbox] {
  opacity:     1;
  height:      20px;
  /*width:    20px;*/
  position:    relative;
  margin:      0;
  margin-left: 3px;
  /*padding:  0;*/
}

.main-pan {
  margin:  auto;
  padding: 0;
}

.block {
  margin: 10px 10px 5px 10px;
}

.row {
  margin-bottom: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.right-label {
  display:      inline-block;
  height:       20px;
  overflow:     hidden;
  box-sizing:   border-box;
  padding-top:  3px;
  margin-left:  -2px;
  margin-right: 3px;
}

#fld_re, #fld_replacer, #fld_return {
  box-sizing: border-box;
  width:      100%;
  padding:    2px;
  font-size:  1.2em;
}

#btn_replace {
  margin-right: 15px;
  width:        100px;
  font-weight:  bold;
}