body {
  margin: 10px;
}

#content {
  margin-right:   auto;
  margin-left:    auto;
  vertical-align: middle;
  width:          100%;
}

.hostButton {
  border:         1px solid;
  border-radius:  2px;
  height:         20px;
  vertical-align: bottom;
  font-family:    inherit;
  color:          inherit;
  font-size:      inherit;
}

textarea {
  overflow-y: hidden;
  width:      100%;
  resize:     none;
}

input {
  box-sizing: border-box;
  display:    inline-block;
}

input[type=text] {
  border:        1px solid rgba(0, 0, 0, .4);
  border-radius: 2px;
  height:        25px;
  width:         100%;
  font-size:     1.2em;
  margin:        5px 0;
}

.main-pan {
  margin:  auto;
  padding: 0;
}

.block {
  width:   100%;
  margin:  2px auto;
  display: block;
}

.row {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#fld_return {
  box-sizing:  border-box;
  height:      25px;
  padding:     0;
  font-size:   1.2em;
  font-weight: bold;
}

#btn_repl, #btn_clear {
  box-sizing: border-box;
  /*width:      45px;*/
}

#btn_clear {
  /*margin-left:  2px;*/
  margin-right: 3px;
}

#btn_refrash {
  box-sizing: border-box;
  /*width:      45px;*/
  overflow-x: hidden;
}

#btn_killCEP {
  box-sizing: border-box;
  /*width:      45px;*/
  overflow-x: hidden;
  /*margin-right: 20px;*/
}