#content {
  margin-right:   auto;
  margin-left:    auto;
  vertical-align: middle;
  width:          100%;
}

.hostButton {
  border:         1px solid;
  height:         20px;
  vertical-align: bottom;
  font-family:    inherit;
  color:          inherit;
  font-size:      inherit;
}

input {
  border-radius: 2px;
  box-sizing:    border-box;
  display:       inline-block;
}

input[type=text] {
  border: 1px solid rgba(0, 0, 0, .4);
  height: 20px;
  width:  100%;
}

.main-pan {
  margin:  auto;
  padding: 0;
}

.block {
  margin: 10px 10px 5px 10px;
}

.row {
  margin-bottom: 5px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

#fld_re, #fld_replacer, #fld_return {
  box-sizing: border-box;
  width:      100%;
  padding:    2px;
  font-size:  1.2em;
}

#lst_keywords_re, #lst_keywords_replacer {
  height: 20px;
  width: 70px;
}

#btn_replace {
  margin-right: 15px;
  width:        100px;
  font-weight:  bold;
}
