body {
}

#content {
  margin-right     : auto;
  margin-left      : auto;
  vertical-align   : middle;
  width            : 100%;
  background-color : #ffff99;
}

.hostButton {
  border         : 1px solid;
  height         : 20px;
  vertical-align : bottom;
  font-family    : inherit;
  color          : inherit;
  font-size      : inherit;
  border-radius  : 5px;
}

textarea {
  overflow-y : hidden;
  width      : 100%;
  resize     : none;
}

input {
  box-sizing : border-box;
  display    : inline-block;
}

input[type=text] {
  border        : 1px solid rgba(0, 0, 0, .4);
  border-radius : 5px;
  height        : 25px;
  width         : 100%;
  font-size     : 1.2em;
}

.main-pan {
  margin           : auto;
  padding          : 0;
  background-color : #4ca1e4;
}

.block {
  width            : 100%;
  margin           : 0 auto;
  display          : block;
  background-color : #ec514e;
}

.row {
  display          : block;
  background-color : chartreuse;
  /*margin           : 10px;*/
}

.float-left {
  float : left;
}

.float-right {
  float : right;
}

#fld_return, #fld_regStr, #fld_replacer {
}

#btn_repl, #btn_refrash, #btn_killCEP {
  box-sizing : border-box;
  overflow-x : hidden;
  margin     : 10px 0;
}